@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300;400;700&family=Lexend:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@300;400&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Inter", "DM Sans", "Lato", sans-serif;
  overflow-x: hidden;
}

img {
  display: inline-block;
  max-width: 100%;
}

.btn-contact {
  background-color: #fee100;
  border: 2px solid transparent;
  border-radius: 4px;
  letter-spacing: 2px;
  font-weight: 800;
  padding: 1.4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.btn-contact:hover {
  background-color: #fff;
  border-color: #fee100;
}

.wrap-btn-slider {
  width: 180px;
  height: 60px;
  position: relative;
}

.btn-slider {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #fee100;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.btn-slider svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.btn-slider:hover svg {
  stroke-dashoffset: -480;
}
.btn-slider span {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.btn-slider:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: #fff;
  border-color: #fee100;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.header-logo > img {
  width: 8rem;
}
.header-subtitle-logo {
  font-size: 8.58px;
  color: #090909;
  font-weight: 700;
}
.header-nav {
  background-color: #fff;
}
.header .nav-item .nav-link {
  color: #000;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 1.8rem 2rem;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  font-family: "Lexend", sans-serif;
}
.header .nav-item .nav-link:hover {
  background-color: #fee100;
  color: #000;
}
.header .nav-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 3.8rem;
  gap: 0 2.4rem;
}
.header .nav-phone span {
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 800;
}
.header-phone {
  color: #fee100;
  font-size: 3.8rem;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

#slider .carousel-indicators {
  width: 100%;
  margin-top: 6rem;
}
#slider .carousel-indicators button {
  background-color: #fee100;
  width: 6rem;
  height: 6rem;
  color: #000;
  position: static;
  text-indent: unset;
  font-weight: 600;
  color: #000;
  font-size: 1.6rem;
}
#slider .carousel-inner {
  height: 56rem;
  width: 100vw;
}
#slider .carousel-item {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 2.6rem;
  position: static;
}
#slider .carousel-item img {
  width: 40%;
  -webkit-clip-path: polygon(70% 0, 99% 30%, 100% 100%, 30% 100%, 0 70%, 0 0);
  clip-path: polygon(70% 0, 99% 30%, 100% 100%, 30% 100%, 0 70%, 0 0);
}
#slider .carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#slider .carousel-caption {
  position: static;
  color: #000;
  width: 40%;
}
#slider .carousel-caption h5 {
  font-size: 8rem;
  text-align: left;
  font-weight: 500;
  line-height: 9rem;
  margin-bottom: 3.9rem;
  font-family: "Lexend", sans-serif;
}
#slider .carousel-caption p {
  color: #7d758c;
  text-align: left;
  margin-bottom: 3.9rem;
}

#main .highlight-section {
  background-color: #000;
  height: 9.6rem;
}
#main .carousel {
  height: 100%;
}
#main .carousel-inner {
  width: 100%;
  height: inherit;
}
#main .carousel-item {
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.2rem;
}
#main .carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main .carousel-caption {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
#main .carousel-caption img {
  width: 2rem;
  display: block;
  margin-right: 8px;
}
#main .carousel-caption h5 {
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  font-style: italic;
  line-height: 3rem;
  margin-bottom: 0;
}